<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="smartSuite.smartSpriteFX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="smartSpriteFX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <smartSuite.smartSpriteFX.Properties.Settings>
            <setting name="lastDraftFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="lastProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="lastExportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="lastAnimationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="lastParentFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="lastFilterSet" serializeAs="String">
                <value />
            </setting>
            <setting name="joinSpriteOriginFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="joinSpriteDestinyFile" serializeAs="String">
                <value />
            </setting>
        </smartSuite.smartSpriteFX.Properties.Settings>
        <smartSpriteFX.Properties.Settings>
            <setting name="lastDraftFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="lastProjectFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="lastExportFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="lastAnimationFolder" serializeAs="String">
                <value/>
            </setting>
        </smartSpriteFX.Properties.Settings>
    </userSettings>
<appSettings>
  <add key="minThreads" value="50"/>
  <add key="maxThreads" value="1000"/>
</appSettings>
</configuration>
